*{
    font-family: 'Press Start 2P',sans-serif;
}
body{
    color: antiquewhite;
    background-color: black;
}
header div{
    display: flex;
    text-align: center;
    justify-content: space-between;
    
}
header div .again{
    font-size: 40px;
    margin: 30px;
    padding: 20px;
}
header div p{
    font-size: 30px;
}
h1{
    text-align: center;
    font-size: 50px;
}
header{
    border-bottom: 20px solid white;
}
.number{
    font-size: 80px;
    background-color: tomato;
    width: 100px;
    padding: 30px;
    position: relative;
    left: 40%;
    top: 70px;
}
main{
    display: flex;
    justify-content: space-between;
    
}
.left{
    margin: 30px;
    
}
.guess{
    padding: 30px;
}
.btncheck{
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    display: block;
}
.right{
    font-size: 30px;
    margin: 50px;
}